{% extends 'base.html' %}
{% block title %}Category View{% endblock %}
{% block content %}

        {% for product in product_list %}
            <div class="panel panel-success">
                <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ product.slug }}">{{ product.name }}</a> </h3>
                </div>
                <div class="panel-body">
                    <a href="{{ product.slug }}">View {{ product.name }}`s description and price</a>
                </div>
            </div>
        {% endfor %}

{% endblock %}