{% extends 'base.html' %}

{% block content %}

    {% for product in product_list %}
        <div  class="product">
            <div class="name">
                <li><a href="/products/category/{{ product.slug }}">{{ product.name }}</a></li>
            </div>
            <div class="description">
                <p>{{ product.description }}</p>
            </div>
            <div class="price">
                <p>{{ product.price }}</p>
            </div>

        </div>
    {% endfor %}

{% endblock %}